[submodule "libraries/touchscreen"]
	path = libraries/touchscreen
	url = git@github.com:jdfin/pico-libraries-touchscreen.git
[submodule "libraries/framebuffer"]
	path = libraries/framebuffer
	url = git@github.com:jdfin/pico-libraries-framebuffer.git
[submodule "libraries/gui"]
	path = libraries/gui
	url = git@github.com:jdfin/pico-libraries-gui.git
[submodule "libraries/misc"]
	path = libraries/misc
	url = git@github.com:jdfin/pico-libraries-misc.git
[submodule "libraries/dcc"]
	path = libraries/dcc
	url = git@github.com:jdfin/pico-libraries-dcc.git
[submodule "libraries/pio_edges"]
	path = libraries/pio_edges
	url = git@github.com:jdfin/pico-libraries-pio_edges.git
